<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RdvMedecins</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            <!-- formulaire d'identification -->
            <form class="navbar-form navbar-right">
                <div class="checkbox" style="width: 100px">
                    <label>
                        <input type="checkbox" ng-model="app.debug.on">
                        <span style="color: white" tooltip="{{'tooltip_debug'|translate}}" tooltip-placement="bottom">{{'verbose'|translate}}</span>
                    </label>
                </div>              
                <!-- langues -->
                <ng-include src="'views/languages.html'"></ng-include>
            </form>
        </div>
    </div>
</div>